<h1>
  <%= @event.title %>

  <small class='text-muted'>
    //
    <%= @event.date.to_formatted_s(:week_day_and_date) %>
  </small>

  <% if Rails.env.development? %>
    <small><%= link_to 'admin', event_admin_path(@event, @event.admin_token) %></small>
  <% end %>

</h1>

<div class='trix-content'><%= sanitize @event.body %></div>

<br>

<h2>Who's coming?</h2>

<% unless @event.show_rsvp_names? %>
  <small>Guest names are hidden to other guests.</small>
<% end %>

<div class="#{'d-none' if @responded}">
  <%= form_for [@event, @rsvp], html: { class: "rsvp-form" } do |f| %>
    <div class="form-group">
      <%= f.label :name, "Your name:" %>
      <%= f.text_field :name, class: 'form-control', style: 'max-width: 300px;' %>
    </div>

    <% @event.custom_fields.each do |custom_field| %>
      <div class="form-group">
        <%= label_tag "custom_field_responses[#{custom_field.id}]", custom_field.field_name + (custom_field.required? ? ' *' : '') %>
        <% if custom_field.text? %>
          <%= text_field_tag "custom_field_responses[#{custom_field.id}]", '', 
                class: 'form-control', 
                style: 'max-width: 300px;',
                required: custom_field.required? %>
        <% elsif custom_field.dropdown? %>
          <%= select_tag "custom_field_responses[#{custom_field.id}]", 
                options_for_select([['Select an option', '']] + custom_field.options_array.map { |opt| [opt, opt] }), 
                class: 'form-control', 
                style: 'max-width: 300px;',
                required: custom_field.required? %>
        <% end %>
      </div>
    <% end %>

    <div class="form-group">
      <% Rsvp::RESPONSES.each do |response| %>
        <%= f.submit value: response.to_s.titleize, class: 'btn btn-primary mr-2' %>
      <% end %>
    </div>
  <% end %>
</div>

<% if @responded %>
  <p><span id='rsvp-again'><%= link_to 'RSVP again', '#' %></span></p>
<% end %>

<% Rsvp::RESPONSES.each do |response| %>
  <% rsvps = @rsvps.select { |rsvp| rsvp.response.to_sym == response } %>

  <% if rsvps.any? %>
    <strong><%= response.to_s.titleize %></strong> (<%= rsvps.count %>)

    <ul>
      <% rsvps.each do |rsvp| %>
        <% if @event.show_rsvp_names? %>
          <li>
            <%= rsvp.name %>

            <% if rsvp.hashid.in? @user_rsvp_hashids %>
              <small>
                [<%= link_to 'x', event_rsvp_path(@event, rsvp), method: :delete %>]
              </small>
            <% end %>
          </li>
        <% elsif rsvp.hashid.in? @user_rsvp_hashids %>
          <li>
            <%= rsvp.name %>

            <small>
              [<%= link_to 'x', event_rsvp_path(@event, rsvp), method: :delete %>]
            </small>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>
